/* General CSS */
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html {
    display: block;
    line-height: 1.5;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    height: 100%;
}

body {
    position: relative;
    display: flex;
    color: white;
    background-color: #303030;
    margin: 0;
    line-height: inherit;
    overflow: hidden;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    --ui-main-lighter: #514d4c;
    --ui-main-light: #353535;
    --ui-main: #1e1e1e;
    --ui-main-dark: #131313;
    --text-secondary: #cccccc;
    --ui-select: #008542;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, hr, p {
    margin: 0;
}

hr {
    border: 0.1vh solid var(--ui-main-light);
    width: 74vw;
}

.bolded {
    font-weight: 800;
}

/* Sidebar CSS */
.sidebar {
    position: relative;
    height: 100vh;
    width: 16vw;
    background-color: var(--ui-main);
    display: flex;
    flex-direction: column;
    z-index: 10; /* keeps click priority */
}

.sidebarOptions {
    display: flex;
    height: 5vw;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5vw;
    padding-left: 1.5vw;
    font-size: 0.9vw;
    line-height: 1.5vw;
    transition: 0.3s;
    position: relative;
}

.sidebarOptions:hover {
    cursor: pointer;
    background-color: var(--ui-main-light);
}

.sidebarOptions.selected {
    font-weight: 700;
    border-left: 0.4vw solid var(--ui-select);
}

.sidebarOptions.sidebarBottom {
    position: absolute;
}

#gtabs5 { bottom: 7.5vw; width: 14.5vw; }
#gtabs6 { bottom: 2.5vw; width: 14.5vw; }

#gtabs1 img { width: 3vw; }
#gtabs2 img, #gtabs3 img, #gtabs4 img { width: 2.5vw; }
#gtabs5 img, #gtabs6 img { width: 2vw; }

.launcherVersion {
    position: absolute;
    bottom: 0.25vw;
    left: 1.25vw;
    font-size: 1.1vw;
    color: var(--text-secondary);
}

/* Main Page */
.mainPage {
    width: 84vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Header */
.gameHeader {
    padding: 1.8vw 1.8vw 0;
    position: relative;
    z-index: 5;
}

.currentGame {
    font-size: 1.2vw;
}

.gameTabs {
    display: flex;
    align-items: center;
    gap: 0.6vw;
}

.headerButtons {
    padding: 0.6vw 1.1vw;
    color: var(--text-secondary);
    font-size: 0.95vw;
    line-height: 1.7vw;
    transition: 0.3s;
}

.headerButtons:hover {
    cursor: pointer;
    color: white;
}

.headerButtons.selected {
    cursor: default;
    color: white;
    font-weight: 800;
    border-bottom: var(--ui-select) solid 0.21vw;
}

/* Game Background Display */
#game-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 4vw;
    left: 0;
    width: 84vw;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
    z-index: 1;
}

/* Game Title Image */
#game-title {
    width: 543px;
    height: auto;
    pointer-events: none;
    z-index: 2;
}

/* Bottom Play/Version Row */
#gameSelection {
    position: absolute;
    bottom: 0;
    width: 84vw;
    height: 5vw;
    display: flex;
    align-items: center;
    background-color: var(--ui-main);
    z-index: 4;
}

.dropdownSelector {
    position: absolute;
    left: 1vw;
    display: flex;
    height: 4.5vw;
    width: 27vw;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
}

.dropdownSelector:hover {
    cursor: pointer;
    background-color: var(--ui-main-light);
}

.centeredIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownIcon {
    color: white;
    width: 1.75vw;
}

/* Play Button */
.playButton {
    position: absolute;
    left: 32vw;
    bottom: 0.5vw;
    display: flex;
    align-items: center;
    width: 21.5vw;
    height: 5vw;
    background-image: url(../assets/images/play.png);
    background-size: cover;
    background-position: center;
    transition: 0.1s;
}

.playButton:hover {
    cursor: pointer;
    background-image: url(../assets/images/play-hover.png);
    transform: scale(1.05);
}

.username {
    position: absolute;
    right: 3vw;
    font-size: 1.35vw;
}

/* Panels (mods, faq, installs, patch notes) */
#mods, #faq, #installations, #patchNotes {
    position: absolute;
    display: none;
    width: 84vw;
    height: 91vh;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    z-index: 6;
}

#notescreen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    background: var(--ui-main);
    width: 100vw;
    height: 100vh;
}
